{% extends 'pages/s_base.html' %}
{% load static%}

{%block content%}
<div class="subscription">
    <div class="continer">
        <h2>Welcome To Desac TV, <br> Please Choose Your Subscription</h2>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="heading">
                            <h2>Basic - 3 Days</h2>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">All Categories</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">Best Recomentations</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">All Models</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">All Geners</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Vote Freely</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Two (2) Votes</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Free</label>
                        </div>
                        <div class="button-manager">
                            <button type="submit">SELECT</button>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="heading">
                            <h2>Basic - 14 Days</h2>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">All Categories</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">Best Recomentations</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">All Models</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">All Geners</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Vote Freely</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Two (5) Votes</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">K7.50</label>
                        </div>
                        <div class="button-manager">
                            <button type="submit">SELECT</button>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="heading">
                            <h2>Basic - 30 Days</h2>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">All Categories</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">Best Recomentations</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">All Models</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                        <label for="">All Geners</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Vote Freely</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">Two (8) Votes</label>
                        </div>
                        <br>
                        <div class="item">
                            <i class="fa-regular fa-square-check"></i>
                            <label for="">k18.50</label>
                        </div>
                        <div class="button-manager">
                            <button type="submit">SELECT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}