{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desac Tv | {%block title%}{%endblock%}</title>

    <script src="https://kit.fontawesome.com/3a3f083ec4.js" crossorigin="anonymous"></script>
</head>
</head>
<body>
    {%block navigation%}
    <nav>
        <ul>
            <div class="notification">
                <span><i class="fa-solid fa-bell"></i></span>
                <span>Notifications</span>
            </div>
           <div class="user">
            <span><i class="fa-regular fa-user"></i></span>
            <label for="">Joe Doe</label>
           </div>
        </ul>
    </nav>
    {%endblock%}
    {%block content%}
    {%endblock%}
</body>
</html>