{% extends 'pages/a_base.html' %}
{% load static%}

{%block title%} VOTERS GUIDE {%endblock%}

{%block content%}
<div class="voters-guide">
    <div class="container">
        <div class="side-nav">
            <div class="side-container">
                <div class="heading">
                    <h2>Desac Tv</h2>
                    <h2>Voters Pannel</h2>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <span><i class="fa-solid fa-house"></i></span>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-check-to-slot"></i></span>
                            <a href="{% url 'zbmAmbassadors' %}">ZBM Ambassadors</a>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-check-to-slot"></i></span>
                            <a href="{% url 'kopalaAwards' %}">Kopala Awards</a>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-book"></i></span>
                            <a href="{% url 'votersGuide' %}">Voters-Guide</a>
                        </li>
                    </ul>
                </div>
                <div class="finale-content">
                    <ul>
                        <li>
                            <span><i class="fa-solid fa-power-off"></i></span>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="secondary-nav">
            <div class="container">
                <div class="item">
                    <label for="">Votes: </label>
                    {% for subscription in subscription%}
                    <label for="">{{subscription.number_of_votes}}</label>
                    {% endfor %}
                </div>
                <div class="item">
                    <label for="">Voted: </label>
                    <label for="">00</label>
                </div>
                <div class="item">
                    <label for="">Subscription:</label>
                    {% for subscription in subscription%}
                    <label for="">{{subscription.subscription_type}}</label>
                    {% endfor %}
                </div>
                <div class="item">
                    <a href="{% url 'subscription' %}">Upgrade <span><i class="fa-solid fa-lock"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}